<p> <table border="3">
<tr>
   <td valign="top"> joint_control[2].control.mode </td>
   <td> <input width="100px" type="text" id="joint_control_2__control_mode" /> </td>
   <td> <button type="button" onclick="setVariable('joint_control[2].control.mode')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_control[2].control.speed </td>
   <td> <input width="100px" type="text" id="joint_control_2__control_speed" /> </td>
   <td> <button type="button" onclick="setVariable('joint_control[2].control.speed')"/> SET</td>
</tr>
</table> </p>
